ipg-settlement/src/main/app/inbound-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:mysql-config name="MySQL_Configuration" url="${database.url}" user="optima" password="optima123"
		doc:name="MySQL Configuration" />
	<flow name="inbound-configFlow">
		<jms:inbound-endpoint connector-ref="Active_MQ"
			queue="ipg.settlement" doc:name="JMS" />
		<logger level="INFO" message="#[payload]" />
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[INSERT into transfer_unsettled (transfer_id, transfer_type_id, transaction_number, trace_number, from_username, to_username, amount, settlement_date) values (#[payload.transferID], #[payload.transferTypeID], #[payload.transactionNumber], #[payload.traceNumber], #[payload.fromUsername], #[payload.toUsername], #[payload.amount], CURDATE() + INTERVAL 3 DAY);]]></db:parameterized-query>
		</db:insert>
	</flow>
</mule>
