ipg-settlement/src/main/app/phase01-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<flow name="phase01_Flow">
		<vm:inbound-endpoint path="phase1" doc:name="VM" />
		<logger level="INFO" message="[PHASE-01: #[payload]]" doc:name="Logger" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * from transfer_unsettled where transfer_type_id = 41 AND DATE(settlement_date) = CURDATE();]]></db:parameterized-query>
		</db:select>
		<logger level="INFO" message="[PHASE-01 DB Result Size : #[payload.size()]]" />
		<choice>
			<when expression="#[payload.size() > 0]">
				<collection-splitter doc:name="Collection Splitter" />
				<vm:outbound-endpoint path="phase2" />
			</when>
			<otherwise>
				<logger level="INFO" message="[NOTHING to Settle]" />
			</otherwise>
		</choice>
	</flow>

</mule>