ipg-settlement/src/main/app/phase03-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<flow name="phase03_Flow">
		<vm:inbound-endpoint path="phase3" doc:name="VM" />
		<logger level="INFO" message="[PHASE-03: #[payload]]" doc:name="Logger" />
		<set-variable value="#[payload]" variableName="originalPayload"
			doc:name="Variable" />
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[INSERT into transfer_settled (transfer_id, transfer_type_id, transaction_number, trace_number, from_username, to_username, amount, transaction_date, settled_date) values (#[payload.transfer_id], #[payload.transfer_type_id], #[payload.transaction_number], #[payload.trace_number], #[payload.from_username], #[payload.to_username], #[payload.amount], #[payload.transaction_date], NOW());]]></db:parameterized-query>
		</db:insert>
		<logger level="INFO"
			message="[PHASE-03 INSERT #[flowVars['originalPayload'].transaction_number] Result: #[payload]]"
			doc:name="Logger" />
	</flow>

</mule>